{% extends "base.html" %}

{% block content %}
<div class='row'>
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-align-center"><strong>Historia </strong> </h2>
    <p class="text-align-center">Muy larga, no tienes tiempo </p>
    <p class="text-align-center">laaaargaaaa laaargaaaaaa laaargaaaaaa</p>
    <p class="text-align-center">laaaargaaaa laaargaaaaaa laaargaaaaaa</p>
    <p class="text-align-center">laaaargaaaa laaargaaaaaa laaargaaaaaa</p>
    <p class="text-align-center">laaaargaaaa laaargaaaaaa laaargaaaaaa</p>

  </div>
  </div>
{% endblock %}
