<!doctype html>
{% load static %}
<!-- base.html  -->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block head_title %}Pd_110{% endblock %}</title>


<style>
/* clase 35 */
{% block style %}{% endblock %}
</style>

    <!-- Bootstrap core CSS - lo quitamos -->
{% include "head_css.html" %}

  </head>

  <body>
<!--quitamos la etiqueta nav - clase 24  -->
    {% include "navbar.html" %}


      <!--quitamos el jumbotron  - clase 24  -->
      {% block jumbotron %}
      {% endblock %}

{% block content %}
{% endblock %}

{% include "javascript.html" %}

  </body>
</html>
